.app-Header {
  text-align: center;
  display:flex;
  flex-direction: column;
  padding:0.5rem;
  margin: 0.25rem;
  border-style: dashed;
  border-color:cadetblue;
  border-radius: 2px;
  
}

.login-bar{
  display:flex;
  margin:1rem;
  gap: 1rem;
  flex-direction: row;
  overflow: scroll;
  align-items: center;
  justify-content:space-around;
  border-style: double;
  border-radius: 1px;
  border-color: cadetblue;
}

.profile-item {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 3px;
}
